@model IEnumerable<Mazzoni.Alex._5H.WebCRUD.Models.Movie>

@{
    ViewData["Title"] = "Lista Film";
}

<h1>Lista Film</h1>

<p>
    <a asp-action="Create" class="btnAdd">+</a>
</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    Modifica
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td data-label="@Html.DisplayNameFor(model => model.Title)">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td data-label="@Html.DisplayNameFor(model => model.ReleaseDate)">
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td data-label="@Html.DisplayNameFor(model => model.Genre)">
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td data-label="@Html.DisplayNameFor(model => model.Price)">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

</div>
